# Node modules
node_modules

# Next.js build output
.next

# Local environment variables
.env
.env.local
.env.*.local

# OS系
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings（任意）
.vscode/
.idea/